@use '../abstracts/mixins' as *;
@use '../abstracts/root' as *;
@use '../abstracts/variables' as *;

/*
    Helpers
-------------------------------------
*/

// Title
.title {
  @include flex-center();
  text-align: center;
  width: 100%;
  margin-bottom: var(--section__space-m);
  &__header {
    font-family: $font-style__secondary;
  }
  span {
    color: $color__blue-light;
  }
}

// Divider
.divider {
  background-color: $color__gray;
  width: auto;
  height: 2px;
  margin: var(--divider__space);
}

.d-flex {;
  display: flex;
}