@use '../assets/scss/abstracts/mixins' as *;
@use '../assets/scss/abstracts/root' as *;
@use '../assets/scss/abstracts/variables' as *;

/*
    Clock
-------------------------------------
*/

.component {
  .clock {
    @include flex-center();
    flex-direction: column;
    padding: var(--content__space-l) var(--content__space-l) 0;
    margin-top: var(--section__space-l);
    border-top-right-radius: var(--content__border-radius-m);
    border-top-left-radius: var(--content__border-radius-m);
    &__header {
      text-align: center;
    }

    &__time {
      font-weight: $font-weight__regular;
      color: $color__blue-light;
    }

    &__time,
    &__date {
      margin-bottom: var(--content__space-s);
    }

    &__date,
    &__timezone {
      font-family: $font-style__primary;
    }

    &__timezone {
      color: $color__gray;
    }
  }
}