@use '../assets/scss/abstracts/mixins' as *;
@use '../assets/scss/abstracts/root' as *;
@use '../assets/scss/abstracts/variables' as *;

/*
    Notepad
-------------------------------------
*/

.notepad {
  &__inner {
    padding: var(--content__space-l);
  }
  .cta {
    @include flex-center();
    width: 100%;
    margin-top: var(--content__space-l);
  }
}