/*
    Mixins
-------------------------------------
*/
/*
    Variables
-------------------------------------
*/
/*
    Root
-------------------------------------
*/
:root {
  --section__space-m: 3rem;
  --section__space-l: 6rem;
  --section__division: 50%;
  --section__division-mobile-s: 25%;
  --section__division-mobile-m: 33.333%;
  --content__space-minus: -1rem;
  --content__space-xs: 0.5rem;
  --content__space-s: 1rem;
  --content__space-m: 2rem;
  --content__space-l: 3rem;
  --content__border-radius-m: 1rem;
  --content__border-radius-s: 0.5rem;
  --content__box-shadow: 0px 0px 10px 0px rgba(171, 178, 178, 1);
  --font-style__primary: $font-style__primary;
  --font-style__secondary: $font-style__secondary;
  --font-size__global: 1.25rem;
  --font-size__text: 1.25rem;
  --font-size__header-s: 1.5rem;
  --font-size__header-m: 1.775rem;
  --font-size__header-l: 2.5rem;
  --font-size__header-xl: 3.125rem;
  --font-size__header-xxl: 9.375rem;
  --font-weight__light: $font-weight__light;
  --font-weight__regular: $font-weight__regular;
  --font-weight__medium: $font-weight__medium;
  --font-weight__bold: $font-weight__bold;
  --color__orange: $color__orange;
  --color__gray: $color__gray;
  --color__gray-dark: $color__gray-dark;
  --color__white: $color__white;
  --color__blue-light: $color__blue-light;
  --color__black: $color__black;
  --cta__font-size: 1.125rem;
  --input__width: auto;
  --input__height: 50px;
  --input__padding: 1rem;
}

/*
    Media queries
-------------------------------------
*/
@media screen and (max-width: 1564px) {
  :root {
    --content__spacing: 3rem 2rem;
  }
}
@media screen and (max-width: 1482px) {
  :root {
    --section__space-m: 2.5rem;
    --section__space-l: 5rem;
    --content__space-xs: 0.375rem;
    --content__space-s: 0.75rem;
    --content__space-m: 1.375rem;
    --content__space-l: 2rem;
    --font-size__global: 1.125rem;
    --font-size__text: 1.125rem;
    --font-size__header-s: 1.25rem;
    --font-size__header-m: 1.5rem;
    --font-size__header-l: 2.125rem;
    --font-size__header-xl: 2.75rem;
    --font-size__header-xxl: 8.125rem;
    --cta__font-size: 1rem;
    --input__height: 45px;
  }
}
@media screen and (max-width: 1200px) {
  :root {
    --section__space-m: 2rem;
    --section__space-l: 4rem;
    --content__space-xs: 0.25rem;
    --content__space-s: 0.5rem;
    --content__space-m: 1rem;
    --content__space-l: 1.5rem;
    --font-size__global: 1rem;
    --font-size__text: 1rem;
    --font-size__header-s: 1.125rem;
    --font-size__header-m: 1.375rem;
    --font-size__header-l: 1.875rem;
    --font-size__header-xl: 2.5rem;
    --font-size__header-xxl: 6.875rem;
    --cta__font-size: 0.90rem;
    --input__height: 40px;
  }
}
@media screen and (max-width: 650px) {
  :root {
    --section__division-mobile-s: 33.333%;
    --section__division-mobile-m: 100%;
    --font-size__header-xxl: 5.5rem;
    --input__width: 100%;
    --input__height: 35px;
  }
}
@media screen and (max-width: 500px) {
  :root {
    --section__division-mobile-s: 100%;
    --font-size__header-xxl: 4.5rem;
  }
}
/*
    ToDo
-------------------------------------
*/
.to-do {
  display: flex;
  justify-content: space-between;
  min-height: 272px;
  padding: 0 var(--content__space-l);
}
.to-do .title {
  flex-basis: 100%;
}
.to-do__inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: var(--section__division);
  padding: 0 var(--content__space-l);
}
.to-do__inner .to-do__title {
  margin-bottom: var(--content__space-m);
}
.to-do__inner:nth-child(1) {
  border-right: 2px solid #ABB2B2;
}
.to-do__inner:nth-child(2) .to-do__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.to-do__inner:nth-child(2) .to-do__list--item {
  background-color: #21252B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--content__space-s);
  padding-left: var(--content__space-s);
  border-radius: var(--content__border-radius-s);
}
.to-do__inner:nth-child(2) .to-do__list--item:last-of-type {
  margin-bottom: 0;
}
.to-do__inner:nth-child(2) .clear {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: var(--content__space-l);
}

/*
    Media queries
-------------------------------------
*/
@media screen and (max-width: 650px) {
  .to-do {
    flex-direction: column;
  }
  .to-do .to-do__inner {
    margin-bottom: 2rem;
  }
  .to-do .to-do__inner:nth-child(1) {
    border-right: none;
  }
}

/*# sourceMappingURL=ToDo.css.map */
