@use '../assets/scss/abstracts/mixins' as *;
@use '../assets/scss/abstracts/root' as *;
@use '../assets/scss/abstracts/variables' as *;

/*
    Weather
-------------------------------------
*/

.component {
  .weather {
    margin-bottom: var(--section__space);
    &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 var(--content__space-l);
      .weather__header {
        color: $color__blue-light;
          &.current-city {
            flex-basis: 100%;
            margin-bottom: var(--content__space-l);
          }
        label {
          color: $color__gray;
        }
      }
      // Forecast
      .forecast {
        flex-basis: 100%;
        &__title {
          margin-bottom: var(--content__space-m);
        }
        &__tiles {
          display: flex;
          justify-content: space-between;
        }
        .forecast__tile {
          p {
            margin-bottom: calc(var(--content__space-xs) / 2);
            &:last-of-type {
              margin-bottom: 0;
            }
            font-weight: $font-weight__semi-bold;
            label {
              font-weight: $font-weight__light;
            }
          }
        }
      }
      form {
        display: flex;
        flex-basis: 100%;
        margin-top: var(--content__space-l);
        .search__btn {
          min-width: 120px;
        }
      }
    }
  }
}

/*
    Media queries
-------------------------------------
*/

@media screen and (max-width: 1050px) {
  .weather {
    .weather__inner {
      justify-content: center;
      .weather__header {
        text-align: center;
       margin: 0.5rem 1rem
      }
      .forecast {
        .forecast__tiles {
          flex-wrap: wrap;
          text-align: center;
          .forecast__tile {
            margin: 1rem;
          }
        }
      }
    }
  }
}